.header-seat {
    justify-content: space-around !important;
    margin: 0 350px;
    text-align: center;
}

.seat-none {
    height: 40px;
    width: 40px;
    cursor: pointer;
    border: 2px solid;
    margin: 10px;
    text-align: center;
    line-height: 40px;
    border-radius: 0 0 10px 10px;
    background-image: linear-gradient(140deg, grey 0%, grey 44%, #cbbdbd 45%, #cbbdbd 55%, grey 56%, grey 100%);
}

.seat-thuong {
    height: 40px;
    width: 40px;
    cursor: pointer;
    border: 2px solid;
    margin: 10px;
    text-align: center;
    line-height: 40px;
    border-radius: 0 0 10px 10px;
}

.seat-vip {
    height: 40px;
    width: 40px;
    cursor: pointer;
    border: 2px solid;
    margin: 10px;
    text-align: center;
    line-height: 40px;
    border-radius: 0 0 10px 10px;
    background-color: #faa61a;
}

.creen {
    padding: 20px 0;
    margin: 0 100px 130px 200px;
    border-radius: 100% 100% 0 0;
    border: 1px solid black;
    box-shadow: 0px 9px 20px #7c6363;
}

.seat-movie {
    margin: 0px 100px 0 193px;
}

.seat-slc {
    height: 40px;
    width: 40px;
    border: 2px solid;
    margin: 10px;
    text-align: center;
    line-height: 40px;
    border-radius: 0 0 10px 10px;
    background-color: green;
}