*{
  margin: 0;
  padding: 0;
}

p{
  margin: 0;
  padding: 0;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul{
  list-style-type: none;
}

/* HEADER  */
#top_header {
  border-bottom: 2px solid rgba(100, 92, 92, 0.56);
  background: url(../img/bg.png);
}

#top_header ul li a {
  display: block;
  color: #e8e8e8;
  padding: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}

#top_header ul li a:hover{
  color: #fdb813;
}

.hotLine a{
  display: block;
  color: #e8e8e8;
  padding: 10px;
  text-align: left;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
}

.hotLine a:hover{
  color: #fdb813;
}

.social a i{
  font-size: 30px;
  color: #e8e8e8;
  padding: 10px;
  transition: .3s;
}

.social a i:hover{
  color: #fdb813;
}


.navbar-default {
  border: none !important;
  background: url(../img/bg.png);
  border-radius: 0px !important;
}

.navbar-brand  img {
    display: block;
    width: 30%;
    height: auto;
}

.navbar-menu ul li a{
    font-weight: 700;
    font-size: 18px;
    color: #e8e8e8;
    transition: .3s;
}

.navbar-menu ul li a:hover {
  color: #fdb813;
}

/* FOOTER  */
#footer{
  background: url(../img/bg.png);
}

.footer_title {
  font-size: 20px;
  font-weight: 600;
  position: relative;
  color: rgba(239, 239, 239, 0.64);
}

.footer_item ul {
  list-style-type: none;
  padding: 5px 0;
  margin: 0;
  color: rgba(239, 239, 239, 0.64);
}

.footer_item ul li{
  padding: 5px;
}

.end{
  padding: 30px;
  color: white;
}

/* GIA VE  */

.content_giaVe{
  padding: 50px;
}

.content_giaVe p{
  font-size: 20px;
  font-weight: 600;
}

/* UU DAI  */
#wrap{
  background-color: #191919;
}

.title_uudai {
  position: relative;
  color: #dedddd;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 40px;
  padding-bottom: 20px;
}

.title_uudai::after {
  position: absolute;
  content: '';
  width: 20%;
  height: 2px;
  background-color: #dedddd;
  top: -5px;
  left: 50%;
  transform: translate(-50%,0);
}

.item img {
  width: 100%;
  height: 100%;
}


/* HOMEPAGE__CAROUSEL  */


.owl-next {
  position: absolute !important;
  right: 0px !important;
  top: 30%;
  background-color: none !important;
  margin: 0 !important;
  padding: 0 !important;
  border-radius: 0 !important; 
}

.owl-next span{
  font-size: 80px;
  color: grey;
}

.owl-prev {
  position: absolute !important;
  left: 0px !important;
  top: 30%;
  background-color: none !important;
  margin: 0 !important;
  padding: 0 !important;
  border-radius: 0 !important;
}

.owl-prev span{
  font-size: 80px;
  color: grey;
}

.item img{
  display: block;
  height: 700px;
  max-width: 100%;
  line-height: 1;
}

.owl-dots{
  position: absolute;
  z-index: 15;
  bottom: 2%;
  right: 50%;
}

/* SLIDER MOVIE  */

#slider-movie {
  padding: 60px 0;
  margin-top: -10px;
  background-color: #060c12;
  position: relative;
  z-index: 2;
  overflow: hidden;
}

#slider-movie .heading img {
  width: 150px;
}

#slider-movie .heading {
  position: relative;
  border-bottom: solid 1px rgba(255,255,255,0.4);
  padding-bottom: 10px;
  width: 95%;
  margin: 0 auto;
}

#slider-movie .heading ul {
  list-style-type: none;
  float: right;
  text-align: left;
  padding: 0;
  margin: 0;
  margin-top: 5px;
  width: 100%;
  justify-content: flex-end;
  display: flex;
}

#slider-movie .heading ul li {
  display: inline;
  float: left;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
  margin-right: 7px;
  margin-left: 5%;
}

.my-active{
  border-bottom: 2px solid #fdb813;
}

/* MODAL REGISTER  */

.control-label {
  color: #a9a9a9;
  font-style: italic;
  font-size: 15px;
}

.form-control:focus {
  border-color: #fdb813 !important;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.register_send {
  border: none;
  font-size: 14px;
  background-color: #F9C227;
  color: black;
  padding: 7px 25px;
  border-radius: 20px;
  transition: .3s;
  text-transform: uppercase;
  font-weight: 600;
}

.register_send:hover {
  background-color: #F9C227;
  color: #fff;
}


/* SEAT  */

.Apppp {
  text-align: center;
  display: flex;
  flex-flow: column;
  align-items: center;
}


.Movies {
  margin-bottom: 24px;
}

.Movies select {
  appearance: none;
  background: white;
  font-size: 14px;
  margin-left: 12px;
  border-radius: 4px;
  padding: 6px 24px;
}

.ShowCase {
  margin: 0 0 48px;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  background: #3b3b3b;
  padding: 12px;
  border-radius: 4px;
  color: #7e7e7e;
}

.ShowCase li {
  margin: 0 12px;
}

.Cinema {
  margin-bottom: 18px;
  perspective: 400px;

  display: grid;
  place-items: center;
  grid-gap: 24px;
}

.Cinema .screen {
  height: 70px;
  background: white;
  width: 100%;
  transform: rotateX(-30deg) scale(1.1);
  box-shadow: 0 3px 10px 2px;
}

.Cinema .seats {
  display: grid;
  grid-gap: 6px;
  grid-template-columns: repeat(8, min-content);
  align-items: center;
}

.Cinema .seats .seat:nth-of-type(8n + 2) {
  margin-right: 12px;
}

.Cinema .seats .seat:nth-of-type(8n + 6) {
  margin-right: 12px;
}

.Cinema .seats .seat:not(.occupied):hover,
.Cinema .seats .seat:not(.occupied):focus {
  cursor: pointer;
  background: #c1eac5;
  transform: scale(1.2);
}

.Cinema .seats .seat.selected::after {
  content: '';
  position: absolute;
  top: 0;
  left: 2px;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  background: transparent;
  border: 1px solid #7bc47f;
  animation: show-off 0.8s;
  visibility: hidden;
}

@keyframes show-off {
  0% {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
  }

  100% {
    transform: scale(3);
    opacity: 0;
  }
}

.seat {
  display: inline-block;
  background: #626262;
  width: 50px;
  height: 30px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transition: transform 0.3s ease-in-out;

  position: relative;
  top: 1px;
}

.seat.selected {
  background: #7bc47f !important;
}

.seat.occupied {
  background: #cfcfcf;
}

.info .count {
  color: #7bc47f;
}

.info .total {
  color: #7bc47f;
}